@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;700;900&family=Raleway:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 10px;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: "Noto Serif SC", serif;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem;
  position: fixed;
  width: 100vw;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
  font-family: "Barlow", sans-serif;
}

.nav-bar:hover {
  background-color: black;
}

.nav-bar-brand {
  width: 12rem;
}

.nav-bar-brand img {
  width: 100%;
}

.nav-bar-links {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3rem;
  font-weight: 300;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.nav-bar-links li {
  list-style: none;
}

.nav-bar-links li:not(:last-child) {
  margin-bottom: 2rem;
}

.nav-bar-links li a {
  color: black;
  position: relative;
  text-decoration: none;
}

.nav-bar-links li a::after {
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: black;
  bottom: -3rem;
  left: 0;
  opacity: 0;
}

.nav-bar-links li a:hover::after {
  opacity: 1;
  bottom: -0.5rem;
}

.nav-bar .menu {
  height: 3.5rem;
  width: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 5;
  cursor: pointer;
}

.nav-bar .menu .line {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 0.2rem;
  background-color: white;
}

.menu-active {
  background-color: black !important;
}

.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.reserva {
  height: 50vh;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
  padding: 2rem;
}

.reserva-title {
  font-size: 3.5rem;
}

.reserva-text {
  font-size: 2rem;
}

.reserva-button {
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background: #a8a6a1;
  font-size: 2rem;
  padding: 1.5rem 4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.reserva-button:hover {
  background: #777777;
}

.footer {
  height: 100vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: white;
  text-align: center;
}

.footer p {
  font-size: 1.5rem;
}

.footer-title {
  margin-bottom: 2rem;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: #EE6C4D;
}

.footer-image {
  width: 15rem;
}

.footer-contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-contact-info .footer-link {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer-location ul li, .footer-links ul li {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  list-style: none;
}

.footer-location ul li a, .footer-links ul li a {
  text-decoration: none;
  color: black;
}

.header-slide {
  height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  color: white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-slide-title {
  width: 90%;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-slide-title h1,
.header-slide-title h2 {
  text-align: center;
  font-size: 3.5rem;
}

.header-slide-title a {
  font-size: 1.7rem;
  color: white;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid white;
  text-align: center;
  width: 70%;
  margin-top: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}

.header-slide-title a:hover {
  background: white;
  color: black;
}

.header-slide-1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../assets/img/img-4.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url("../assets/img/img-4.jpg");
}

.header-slide-2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../assets/img/img-5.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url("../assets/img/img-5.jpg");
}

.header-slide-3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4))), url("../assets/img/img-1.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4)), url("../assets/img/img-1.jpg");
}

.intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro:nth-child(2) {
  padding: 2rem;
  height: auto;
  background: black;
  color: white;
}

.intro .images-container {
  margin-bottom: 2rem;
  height: 40rem;
}

.intro .images-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-text {
  height: 50vh;
  padding: 2rem;
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-text-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.intro-text-paragraph {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.intro-image {
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro-image-1 {
  background-image: url("../assets/img/img-4.jpg");
}

.intro-image-2 {
  background-image: url("../assets/img/img-15.jpg");
}

.intro-image-3 {
  background-image: url("../assets/img/img-20.jpg");
}

.gallery-body {
  background-color: #38383b;
}

.gallery {
  height: auto;
  background-color: #38383b;
  padding: 1rem;
  -webkit-transform: translateY(7.6rem);
          transform: translateY(7.6rem);
  margin-bottom: 7.6rem;
}

.gallery-grid {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (30rem)[9];
      grid-template-rows: repeat(9, 30rem);
}

.gallery-grid .image {
  background-size: cover !important;
  background-position: center !important;
  margin: 1rem;
}

.gallery-grid .image-1 {
  background: url("../assets/img/img-17.jpg");
}

.gallery-grid .image-2 {
  background: url("../assets/img/img-9.jpg");
}

.gallery-grid .image-3 {
  background: url("../assets/img/img-19.jpg");
}

.gallery-grid .image-4 {
  background: url("../assets/img/img-12.jpg");
}

.gallery-grid .image-5 {
  background: url("../assets/img/img-10.jpg");
}

.gallery-grid .image-6 {
  background: url("../assets/img/img-6.jpg");
}

.gallery-grid .image-7 {
  background: url("../assets/img/img-5.jpg");
}

.gallery-grid .image-8 {
  background: url("../assets/img/img-8.jpg");
}

.gallery-grid .image-9 {
  background: url("../assets/img/img-4.jpg");
}

.services-header {
  height: 100vh;
  background: url("../assets/img/img-9.jpg") top;
  padding: 2rem;
  position: relative;
  -webkit-clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0% 100%);
          clip-path: polygon(0 60%, 100% 40%, 100% 100%, 0% 100%);
  background-repeat: no-repeat;
}

.services-header-title {
  color: black;
  text-align: left;
  position: absolute;
  left: 2rem;
  top: 15%;
}

.services-header-title h2 {
  font-size: 3rem;
}

.services-header-title h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.services-intro {
  margin-top: 4rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services-intro-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.services-intro-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.services-intro-grid .service {
  position: relative;
  height: 60vh;
  padding: 2rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.services-intro-grid .service:nth-child(even) {
  background-color: #cbd1d2;
}

.services-intro-grid-title {
  font-size: 2.2rem;
}

.services-intro-grid-description {
  font-size: 1.5rem;
}

.services-intro-grid-image {
  height: 85%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
}

.services-intro-grid-image-1 {
  background: url("../assets/img/img-5.jpg");
}

.services-intro-grid-image-2 {
  background: url("../assets/img/img-8.jpg");
}

.services-intro-grid-image-3 {
  background: url("../assets/img/img-1.jpg");
}

.services-intro-grid-image-4 {
  background: url("../assets/img/img-23.jpg");
}

.services-intro-grid-image-5 {
  background: url("../assets/img/img-18.jpg");
  background-position: bottom !important;
}

.services-intro-grid-image-6 {
  background: url("../assets/img/img-9.jpg");
}

.services-intro-grid-image-7 {
  background: url("../assets/img/img-19.jpg");
}

.services-intro-grid-image-8 {
  background: url("../assets/img/img-13.jpg");
}

.services-intro-grid-image-9 {
  background: url("../assets/img/img-2.jpg");
}

.services-intro-grid-image-10 {
  background: url("../assets/img/img-6.jpg");
}

.services-intro-grid-image-11 {
  background: url("../assets/img/img-4.jpg");
}

.services-intro-grid-image-12 {
  background: url("../assets/img/img-22.jpg");
}

.about-us-header {
  height: 100vh;
  background: url("../assets/img/img-20.jpg");
  background-size: cover;
  background-position: center;
}

.about-us-intro {
  height: 100vh;
}

.about-us-intro-text {
  padding: 2rem;
  height: 50%;
  font-size: 1.7rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-intro-image {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2))), url("../assets/img/img-4.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.2)), url("../assets/img/img-4.jpg");
  height: 50%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
}

.about-us-intro-image h2 {
  font-size: 2.7rem;
}

/* .contact {
    &-area {
        display: flex;
        flex-direction: column-reverse;
        .contact-image {
            background: url("../assets/img/img-1.jpg");
            background-size: cover;
            background-position: center;
            height: 40vh;
        }
        .contact-info {
            background-color: #38383b;
            color: white;
            height: 60vh;
            display: flex;
            align-items: center;
            justify-content: center;

            &-container {
                width: 80%;
                p {
                    font-size: 1.5rem;
                    margin-bottom: 2rem;
                }
                h2 {
                    font-size: 3rem;
                    margin-bottom: 2rem;
                }
                .lists {
                    font-size: 1.5rem;
                    ul {
                        margin-bottom: 2rem;
                        li {
                            list-style: none;
                        }
                    }
                    .links {
                        display: flex;
                        flex-direction: column-reverse;
                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    &-form {
        background-color: #38383b;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: white;
        h2 {
            font-size: 2.5rem;
            text-align: center;
        }
        .form {
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            .fields {
                width: 100%;
                input {
                    width: 100%;
                }
            }
        }
    }
}
.map-section {
    background-color: #38383b;
    .title {
        color: white;
        text-align: center;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 3rem;
        }
    }
    .map {
        height: 60vh;
    }
} */
.contact-form {
  height: auto;
  width: 100%;
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  margin-bottom: 6rem;
}

.contact-form .form-section {
  width: 100%;
  margin-bottom: 2rem;
}

.contact-form .form-section h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.contact-form .form-section .form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-form .form-section .form .fields {
  width: 100%;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.contact-form .form-section .form .fields input,
.contact-form .form-section .form .fields textarea {
  width: 100%;
  font-size: 1.6rem;
  padding: 1rem 0;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-form .form-section .form .fields input:focus,
.contact-form .form-section .form .fields textarea:focus {
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
}

.contact-form .form-section .form .fields textarea {
  border: 1px solid black;
  padding: 1rem;
}

.contact-form .form-section .form .fields textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.253);
}

.contact-form .form-section .form .btn-enviar {
  background-color: white;
  border: 1px solid black;
  padding: 1rem;
  outline: none;
  font-size: 1.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-form .form-section .form .btn-enviar:hover {
  background-color: black;
  color: white;
}

.contact-form .map-section {
  width: 100%;
  height: 50vh;
}

.contact-form .map-section h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.contact-form .map-section .map {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    padding-right: 4rem;
  }
  .nav-bar-brand {
    width: 15rem;
  }
  .nav-bar-links {
    opacity: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: transparent;
    height: auto;
    width: auto;
    position: static;
    font-size: 1.7rem;
    font-weight: 300;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-bar-links li:not(:last-child) {
    margin-bottom: 0rem;
    margin-right: 4rem;
  }
  .nav-bar-links li a {
    color: white;
  }
  .nav-bar-links li a::after {
    background-color: white;
  }
  .nav-bar .menu {
    display: none;
  }
  .header-slide {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-slide-title {
    margin-left: 10rem;
    margin-bottom: 5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-slide-title h1,
  .header-slide-title h2 {
    text-align: left;
    font-size: 6rem;
  }
  .header-slide-title a {
    width: 20%;
  }
  .intro {
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro:nth-child(2) {
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro-container {
    width: 90%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro-text, .intro-image {
    width: 50%;
    height: 100%;
  }
  .intro-image-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
  }
  .intro-image-container .intro-image {
    -webkit-transition: all 1s;
    transition: all 1s;
    width: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  .intro-image-container .intro-image:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .intro .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .intro .images-container {
    width: 30%;
    height: 45rem;
    overflow: hidden;
  }
  .intro .images-container img {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .intro .images-container img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .intro-text {
    padding: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro-text-title {
    font-size: 5rem;
    font-weight: 300;
  }
  .about-us-intro h2 {
    font-size: 3.5rem;
  }
  .about-us-intro-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .about-us-intro-text p {
    width: 50%;
  }
  .services-header {
    background-attachment: fixed;
    -webkit-clip-path: polygon(20% 0, 100% 0, 100% 70%, 80% 100%);
            clip-path: polygon(20% 0, 100% 0, 100% 70%, 80% 100%);
    background-position: center;
    background-size: cover;
  }
  .services-header-title {
    color: black;
    text-align: left;
    position: absolute;
    left: 5rem;
    top: 35%;
    width: 40%;
  }
  .services-header-title h2 {
    font-size: 4.5rem;
  }
  .services-header-title h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .services-intro-grid {
    -ms-grid-columns: (100vw)[1];
        grid-template-columns: repeat(1, 100vw);
  }
  .services-intro-grid .service {
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services-intro-grid .service:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .services-intro-grid .service:nth-child(even) h2 {
    text-align: left;
  }
  .services-intro-grid-image {
    width: 50%;
  }
  .services-intro-grid-title {
    font-size: 4rem;
    width: 40%;
    text-align: right;
  }
  .gallery {
    height: 250vh;
  }
  .gallery-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: unset;
        grid-template-rows: unset;
  }
  .gallery-grid .image-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 11;
    grid-row: 1 / 12;
  }
  .gallery-grid .image-2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 8;
    grid-row: 1 / 9;
  }
  .gallery-grid .image-3 {
    -ms-grid-row: 9;
    -ms-grid-row-span: 9;
    grid-row: 9 / 18;
  }
  .gallery-grid .image-4 {
    -ms-grid-row: 12;
    -ms-grid-row-span: 10;
    grid-row: 12 / 22;
  }
  .gallery-grid .image-5 {
    -ms-grid-row: 18;
    -ms-grid-row-span: 8;
    grid-row: 18 / 26;
  }
  .gallery-grid .image-6 {
    -ms-grid-row: 22;
    -ms-grid-row-span: 8;
    grid-row: 22 / 30;
  }
  .gallery-grid .image-7 {
    -ms-grid-row: 26;
    -ms-grid-row-span: 4;
    grid-row: 26 / 30;
  }
  .gallery-grid .image-8 {
    -ms-grid-row: 30;
    -ms-grid-row-span: 6;
    grid-row: 30 / 36;
  }
  .gallery-grid .image-9 {
    -ms-grid-row: 30;
    -ms-grid-row-span: 6;
    grid-row: 30 / 36;
  }
  .contact-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-form .form-section {
    width: 50%;
    margin: 2rem;
  }
  .contact-form .map-section {
    margin: 2rem;
    width: 50%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact-form .map-section h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .contact-form .map-section .map {
    width: 100%;
    height: 80%;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=style.css.map */