*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Rubik', sans-serif;
    //
}

h {
    &1,
    &2,
    &3,
    &4,
    &5,
    &6 {
        font-weight: 500;
        font-family: "Noto Serif SC", serif;
    }
}
